@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.home {
  text-align: center;
  padding: 0px;
}

.intro {
  margin: 20px auto; /* Center the paragraph with margin on both sides */
  max-width: 930px; /* Optional: Limiting the width for better readability */
}

.hero-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.hero-text {
  width: 50%;
}

.intro-text {
  font-size: 1.7rem;
  font-family: cursive;
  /* padding: 0 10px; */
}

.hero-image {
  width: 70%;
  padding-left: 0px;
}

.intro-image {
  height: fit-content;
  width: 70%;
}

.intro-we {
  font-family: Fantasy;
  font-size: 2.4rem;
  margin-top: 10px;
}

.mycolor {
  background-color: #d3d3d3; /* Cooler light grey background color */
  color: #666; /* Light grey text color */
  padding: 8.5rem; /* Adjust vertical padding as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

.mycolor p {
  margin-top: 1rem; /* Example margin for the paragraph */
}

.parallax-container {
  position: relative;
  height: 200px; /* Adjust as needed */
  overflow: visible;
  width: 100%; /* Full width container */
}

.parallax-image {
  position: relative;
  top: -36%; /* Adjust to position the image 50% above the container */
  left: 1%;
  transform: translateX(50%);
  width: auto;
  height: 60%; /* Adjust as needed */
}

.sections {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.section.odd {
  flex-direction: row;
}

.section.even {
  flex-direction: row-reverse;
}

.section-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin-left: 15rem;
  margin-right: 15rem;
}
.section-content1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin-left: 15rem;
  margin-right: 15rem;
}

.section-content1 img {
  width: 59%; /* Adjusted to make the image smaller */
  height: auto;
  border-radius: 10px; /* Rounded corners for a softer look */
  transition: all 1.8s ease; /* Smooth transition over 1.8 seconds */
}

.section-content img {
  width: 30%; /* Adjusted to make the image smaller */
  height: auto;
  border-radius: 10px; /* Rounded corners for a softer look */
  transition: all 1.8s ease; /* Smooth transition over 1.8 seconds */
}

.section-content1 img:hover {
  cursor: pointer; /* Optional: Change cursor on hover */
}
.section-content img:hover {
  cursor: pointer; /* Optional: Change cursor on hover */
}

.section-content1 p {
  width: 90%; /* Adjusted width with margin */
  font-size: 1rem;
  text-align: left;
  padding: 0 5%; /* Adjusted padding */
  margin: 0 auto; /* Centering the paragraph with margin */
}
.section-content p {
  width: 90%; /* Adjusted width with margin */
  font-size: 1rem;
  text-align: left;
  padding: 0 5%; /* Adjusted padding */
  margin: 0 auto; /* Centering the paragraph with margin */
}

.title-and-paragraph {
  margin-top: -10rem;
  width: 100%;
}

.cursive-title {
  font-family: cursive;
  font-size: 2rem;
  margin-bottom: 10px;
}

.image-container {
  size: 20rem;
  position: relative;
  display: inline-block;
}

.main-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease, filter 0.3s ease; /* Adding filter transition */
}

.main-image:hover {
  transform: scale(1.1) rotate(0deg); /* Scale up by 10% and rotate slightly on hover */
  filter: brightness(100%); /* Reduce brightness to 90% on hover */
}

.main-image:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2); /* Overlay background color */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Smooth opacity transition */
}

.main-image:hover:after {
  opacity: 1; /* Show overlay on hover */
}

.image-number {
  position: relative;
  top: -23.5rem; /* Adjust as needed */
  left: 1rem; /* Adjust as needed */
  font-size: 5rem; /* Adjust as needed */
  color: #6d6653; /* Adjust color as needed */
  font-family: "Great Vibes", cursive; /* Using the imported font */
}
